.container{
    width: 300px; /* Ancho de cada tarjeta de personaje */
    margin: 10px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}
  
.personaje-imagen {
    max-width: 100%; /* La imagen ocupará como máximo el ancho del div */
    margin-bottom: 10px;
}

.my-custom-class {
    color: blue;
    font-size: 18px;
  }

.row {
    display: flex;
    flex-direction: row;
}

  
/* Estilos para el texto del navbar */
.navbar-brand.text-center {
    text-align: center;
    width: 100%; 
    margin: 0; 
    padding: 0; 
}
p{
    text-align: justify;
}
.posicion{
    left: 0; 
    right: 0; 
}